.Heading1 {
    color: var(--gray-600);
    font-weight: 600;
    font-size: 1.625rem;
    font-family: var(--font-primary);
}

.Heading2 {
    color: var(--gray-600);
    font-weight: 600;
    font-size: 1.375rem;
    font-family: var(--font-primary);
}

.HeadingWhite{
    color: var(--grey-0);
    font-weight: 600;
    font-size: 1.125rem;
    font-family: var(--font-primary);
}

.HeadingColorGreen {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 1.125rem;
    font-family: var(--font-primary);
}

.Heading3 {
    color: var(--gray-600);
    font-weight: 700;
    font-size: 1.125rem;
    font-family: var(--font-primary);
}

.Heading {
    color: var(--grey-300);
    font-weight: 600;
    font-size: 1rem;
    font-family: var(--font-primary);
}

.body {
    color: var(--grey-100);
    font-weight: 600;
    font-size: .875rem;
    font-family: var(--font-primary);
}

.body-600 {
    color: var(--grey-300);
    font-weight: 600;
    font-size: .875rem;
    font-family: var(--font-primary);
}

.Caption {
    color: var(--grey-100);
    font-weight: 600;
    font-size: .75rem;
}

